-- Script de Limpieza y Creación en PostgreSQL
DROP TABLE IF EXISTS transaccion CASCADE;
DROP TABLE IF EXISTS guardado CASCADE;
DROP TABLE IF EXISTS mensaje CASCADE;
DROP TABLE IF EXISTS chat CASCADE;
DROP TABLE IF EXISTS reputacion CASCADE;
DROP TABLE IF EXISTS producto CASCADE;
DROP TABLE IF EXISTS usuario CASCADE;
DROP TABLE IF EXISTS categoria CASCADE;

-- 1. TABLAS MAESTRAS
CREATE TABLE categoria (
    id_categoria SERIAL PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL
);

CREATE TABLE usuario (
    id_usuario SERIAL PRIMARY KEY,
    nombre VARCHAR(50) NOT NULL,
    apellido_paterno VARCHAR(50) NOT NULL,
    apellido_materno VARCHAR(50),
    correo_institucional VARCHAR(100) UNIQUE NOT NULL,
    contrasena VARCHAR(255) NOT NULL,
    telefono VARCHAR(20),
    validacion BOOLEAN DEFAULT false,
    rol VARCHAR(20) DEFAULT 'Alumno', -- 'Alumno', 'Moderador'
    avatarurl VARCHAR(255) DEFAULT NULL,
    fecha_registro TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    boleta VARCHAR(50) UNIQUE
);

-- 2. TABLAS CON DEPENDENCIAS
CREATE TABLE producto (
    id_producto SERIAL PRIMARY KEY,
    titulo VARCHAR(150) NOT NULL,
    descripcion TEXT,
    precio NUMERIC(10, 2) NOT NULL,
    estado VARCHAR(50) DEFAULT 'Disponible', -- 'Disponible', 'Vendido', 'Entregado'
    tipo_adquisicion VARCHAR(50) NOT NULL,    -- 'Venta', 'Donación', 'Intercambio'
    stock INTEGER DEFAULT 1,
    fotos TEXT,
    fecha_publicacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    id_categoria INTEGER,
    id_usuario INTEGER,
    FOREIGN KEY (id_categoria) REFERENCES categoria(id_categoria) ON DELETE SET NULL,
    FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario) ON DELETE CASCADE
);

CREATE TABLE reputacion (
    id_reputacion SERIAL PRIMARY KEY,
    estrellas INTEGER CHECK (estrellas >= 1 AND estrellas <= 5),
    comentario TEXT,
    id_usuario INTEGER,
    FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario) ON DELETE CASCADE
);

CREATE TABLE chat (
    id_chat SERIAL PRIMARY KEY,
    id_usuario_inicia INTEGER,
    id_producto INTEGER,
    FOREIGN KEY (id_usuario_inicia) REFERENCES usuario(id_usuario) ON DELETE CASCADE,
    FOREIGN KEY (id_producto) REFERENCES producto(id_producto) ON DELETE CASCADE
);

CREATE TABLE mensaje (
    id_mensaje SERIAL PRIMARY KEY,
    texto TEXT NOT NULL,
    marca_de_tiempo TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    leido BOOLEAN DEFAULT false,
    id_chat INTEGER,
    id_usuario_emisor INTEGER,
    FOREIGN KEY (id_chat) REFERENCES chat(id_chat) ON DELETE CASCADE,
    FOREIGN KEY (id_usuario_emisor) REFERENCES usuario(id_usuario) ON DELETE CASCADE
);

CREATE TABLE guardado (
    id_guardado SERIAL PRIMARY KEY,
    id_usuario INTEGER,
    id_producto INTEGER,
    FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario) ON DELETE CASCADE,
    FOREIGN KEY (id_producto) REFERENCES producto(id_producto) ON DELETE CASCADE
);

CREATE TABLE transaccion (
    id_transaccion SERIAL PRIMARY KEY,
    id_producto INTEGER,
    id_comprador INTEGER,
    tipo_transaccion VARCHAR(50) NOT NULL,
    precio_acordado NUMERIC(10, 2) DEFAULT 0.00,
    fecha_acuerdo TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (id_producto) REFERENCES producto(id_producto) ON DELETE CASCADE,
    FOREIGN KEY (id_comprador) REFERENCES usuario(id_usuario) ON DELETE CASCADE
);

-- Datos semilla iniciales
INSERT INTO categoria (nombre) VALUES ('Componentes'), ('Herramientas');
```

---

### Opción B: MySQL / MariaDB (Equivalencia)
Si decides migrar el proyecto a MySQL, utiliza este script que adapta la sintaxis de PostgreSQL (como el tipo `SERIAL` por `AUTO_INCREMENT`, y `TIMESTAMP` por `DATETIME`).

```sql
-- Script de Limpieza y Creación en MySQL
SET FOREIGN_KEY_CHECKS = 0;
DROP TABLE IF EXISTS transaccion CASCADE;
DROP TABLE IF EXISTS guardado CASCADE;
DROP TABLE IF EXISTS mensaje CASCADE;
DROP TABLE IF EXISTS chat CASCADE;
DROP TABLE IF EXISTS reputacion CASCADE;
DROP TABLE IF EXISTS producto CASCADE;
DROP TABLE IF EXISTS usuario CASCADE;
DROP TABLE IF EXISTS categoria CASCADE;
SET FOREIGN_KEY_CHECKS = 1;

-- 1. TABLAS MAESTRAS
CREATE TABLE categoria (
    id_categoria INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL
) ENGINE=InnoDB;

CREATE TABLE usuario (
    id_usuario INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(50) NOT NULL,
    apellido_paterno VARCHAR(50) NOT NULL,
    apellido_materno VARCHAR(50),
    correo_institucional VARCHAR(100) UNIQUE NOT NULL,
    contrasena VARCHAR(255) NOT NULL,
    telefono VARCHAR(20),
    validacion BOOLEAN DEFAULT false,
    rol VARCHAR(20) DEFAULT 'Alumno',
    avatarurl VARCHAR(255) DEFAULT NULL,
    fecha_registro DATETIME DEFAULT CURRENT_TIMESTAMP,
    boleta VARCHAR(50) UNIQUE
) ENGINE=InnoDB;

-- 2. TABLAS CON DEPENDENCIAS
CREATE TABLE producto (
    id_producto INT AUTO_INCREMENT PRIMARY KEY,
    titulo VARCHAR(150) NOT NULL,
    descripcion TEXT,
    precio DECIMAL(10, 2) NOT NULL,
    estado VARCHAR(50) DEFAULT 'Disponible',
    tipo_adquisicion VARCHAR(50) NOT NULL,
    stock INT DEFAULT 1,
    fotos TEXT,
    fecha_publicacion DATETIME DEFAULT CURRENT_TIMESTAMP,
    id_categoria INT,
    id_usuario INT,
    FOREIGN KEY (id_categoria) REFERENCES categoria(id_categoria) ON DELETE SET NULL,
    FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario) ON DELETE CASCADE
) ENGINE=InnoDB;

CREATE TABLE reputacion (
    id_reputacion INT AUTO_INCREMENT PRIMARY KEY,
    estrellas INT CHECK (estrellas >= 1 AND estrellas <= 5),
    comentario TEXT,
    id_usuario INT,
    FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario) ON DELETE CASCADE
) ENGINE=InnoDB;

CREATE TABLE chat (
    id_chat INT AUTO_INCREMENT PRIMARY KEY,
    id_usuario_inicia INT,
    id_producto INT,
    FOREIGN KEY (id_usuario_inicia) REFERENCES usuario(id_usuario) ON DELETE CASCADE,
    FOREIGN KEY (id_producto) REFERENCES producto(id_producto) ON DELETE CASCADE
) ENGINE=InnoDB;

CREATE TABLE mensaje (
    id_mensaje INT AUTO_INCREMENT PRIMARY KEY,
    texto TEXT NOT NULL,
    marca_de_tiempo DATETIME DEFAULT CURRENT_TIMESTAMP,
    leido BOOLEAN DEFAULT false,
    id_chat INT,
    id_usuario_emisor INT,
    FOREIGN KEY (id_chat) REFERENCES chat(id_chat) ON DELETE CASCADE,
    FOREIGN KEY (id_usuario_emisor) REFERENCES usuario(id_usuario) ON DELETE CASCADE
) ENGINE=InnoDB;

CREATE TABLE guardado (
    id_guardado INT AUTO_INCREMENT PRIMARY KEY,
    id_usuario INT,
    id_producto INT,
    FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario) ON DELETE CASCADE,
    FOREIGN KEY (id_producto) REFERENCES producto(id_producto) ON DELETE CASCADE
) ENGINE=InnoDB;

CREATE TABLE transaccion (
    id_transaccion INT AUTO_INCREMENT PRIMARY KEY,
    id_producto INT,
    id_comprador INT,
    tipo_transaccion VARCHAR(50) NOT NULL,
    precio_acordado DECIMAL(10, 2) DEFAULT 0.00,
    fecha_acuerdo DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (id_producto) REFERENCES producto(id_producto) ON DELETE CASCADE,
    FOREIGN KEY (id_comprador) REFERENCES usuario(id_usuario) ON DELETE CASCADE
) ENGINE=InnoDB;
